<launch>

  <arg name="bagfile" default="$(env HOME)/ws/rosbag/freiburg1_room_cvo_fix.bag" />  
  <node pkg="rosbag" type="play" name="player" output="screen" args="$(arg bagfile) -q" />

  <node pkg="dummy_state_publisher" type="dummy_state_publisher" name="dummy_state_publisher" output="screen">
    <param name="pose_topic"  type="string"   value="/cvo_poses_qt" />
    <param name="trajectory_topic"  type="string"   value="/gtsam_backend_node/traj_out" />

  </node>

</launch>
